/* Created by Drew Matheson 
   PROG1800 Section 1
*/

/* -- Universal Selector -- */

*
{
    margin:0;
}

/* #region -- Classes -- */

.center
{
    text-align:center;
}

.mcenter
{
    margin:0 auto;
}

.bold
{
    font-weight:700;
}

.topMargin
{
    margin-top: 30px;
}

.leftMargin
{
    margin-left: 30px;
}

.botMargin
{
    margin-bottom: 30px;
}

.topPad
{
    padding-top:5px;
}

.botPad
{
    padding-bottom:5px;
}

.block
{
    display:block;
}

.number
{
	text-align: right;
}

.hint 
{
        color: dimgray;
} 
            
.invalid 
{ 
    background-color:cornsilk; 
    color:dimgray; 
}
/* #endregion */

/* #region -- Elements -- */

html
{
    height:100%;
}

body 
{
    background-color:Gray !important;
    background-image:-moz-linear-gradient(top, #505050, Gray 30%) !important;
    background-image:-webkit-linear-gradient(top, #505050, Gray 30%) !important;
    background-attachment:fixed !important;
    font-family:"Times New Roman", serif;
    color:White;
    height:100%;
    /*-moz-min-width:1280px;
    -ms-min-width:1280px;
    -o-min-width:1280px;
    -webkit-min-width:1280px;
    min-width:1280px;*/
}

p
{
    text-align: justify;
    font-size:110%;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

a:link { color:#AFEEEE; text-decoration:none; }
a:visited { color:#A36BDB; text-decoration:none; }
a:hover { color:#D7F6F6; text-decoration:underline; }
a:active { color:#E4BC47; text-decoration:underline; }

h1
{
    background-color:DarkGrey;
    text-align:center;
    font-size:175%;
    color:#404040;
    padding: 1px 0;
    margin-bottom: 10px;
}

h2
{
    margin-top: 10px;
    background-color:DarkGrey;
    text-align:Center;
    font-size: 150%;
    color:#404040;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0;
}

pre
{
    text-align:center;
    white-space:pre-wrap;
    font-family: "Courier New";
    font-size:110%;
    font-size: 15px;
    line-height: normal;
    padding-top:6px;
    padding-left:12px;
    padding-right:12px;
}

table, tr, th, td
{
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    border-color:DarkGrey;
}

caption 
{
    font-size: 110%;
    padding-bottom: 30px;
}

th
{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}

td
{
    padding: 3px 10px;
    font-size: 16px;
    text-align: left;
    font-family: arial;
}

b 
{
    font-weight: 900;
    color: #E4BC47;
}
/* #endregion */

/* #region -- Header -- */

div#header
{
    background-color:#353535;
    font-weight:700;
    height:71px;
    padding-top:5px; /* Adds a little extra space at the top */
    width:100%;
    position:relative; /* Places the header over wrap */
}

div#headerTitle a:link {color:White; text-decoration:none;}
div#headerTitle a:visited {color:White; text-decoration:none;}
div#headerTitle a:hover {color:#D7F6F6; text-decoration:underline;}
div#headerTitle a:active {color:#E4BC47; text-decoration:underline;}

div#headerLinks a:link { color:#AFEEEE; text-decoration:none; }
div#headerLinks a:visited { color:#AFEEEE; text-decoration:none; }
div#headerLinks a:hover { color:#D7F6F6; text-decoration:underline; }
div#headerLinks a:active { color:#E4BC47; text-decoration:underline; }

    div#headerLogo 
    {
        width: 95px;
        text-align:left;
        clear:left;
        padding-left: 2%;
        float:left;
    }

    div#headerTitle
    {
        font-size: 1.3em;
        width:160px;
        text-align:justify;
        padding-top: 1em;
        clear:right;
        height:50px;
        display: inline-block;
    }

    div#headerLinks
    {
        font-size: 1.1em;
        width:490px;
        text-align:right;
        clear:right;
        padding:1.3em 2% 0 0;
        float:right;
    }
/* #endregion */

/*#region -- Body -- */    
    
div#wrap 
{
    background-color:#505050;
    /*-moz-min-width:1229px;
    -ms-min-width:1229px;
    -o-min-width:1229px;
    -webkit-min-width:1229px;
    min-width:1229px;*/
    min-height:100%;
    padding:0 2%;
    -ms-background-clip:content-box;
    background-clip:content-box;
    margin-top:-76px; /* Adjusts the wrap to accommodate the header */
}

div#main
{
    font-style:normal;
    min-height:372px;
    padding-bottom:30px; /* Adds space between footer and main */
    padding-top:76px; /* Adds space for header */
}
    
    div#summaryOutput
    {
        display: table;
        text-align: left;
        margin: 0 auto;
    }

    input[type='submit'], input[type='reset'], input[type='button']
    {
        max-width: 120px;
    }

    /* index.html */

    div#buttons>input
    {
        width: 200px;
        height: 30px;
    }
    
    /* #region part_get.php */

    /*form#frmPart
    {
        max-width: 450px;
        margin: 0 auto;
    }

    label[for="cboVendor"]
    {
        margin-left: -39px;
        max-width: 48px;
    }

    select#cboVendor
    {
        max-width: 221px;
    }

    label[for="txtDescription"]
    {
        margin-left: -65px;
        max-width: 73px;
    }

    input#txtDescription
    {
        max-width: 215px;
    }

    label[for="txtOnHand"]
    {
        margin-left: -12px;
        max-width: 115px;
    }

    input#txtOnHand, input#txtOnOrder
    {
        max-width: 83px;
    }

    label[for="txtOnOrder"]
    {
        margin-left: 14px;
        max-width: 119px;
    }

    label[for="txtCost"]
    {
        margin-left: 69px;
        max-width: 33px;
    }

    input#txtCost, input#txtListPrice
    {
        max-width: 113px;
    }

    label[for="txtListPrice"]
    {
        margin-left: 12px;
        max-width: 61px;
    } /* #endregion 

    /* #region vendor_get.html */

    form#frmVendor
    {
        max-width: 700px;
        margin:0 auto;
    }

    /*div.ui-input-text
    {
        width: 215px !important
    }*/

    label[for="txtName"]
    {
        max-width: 48px;
    }

    input#txtName, input#txtAddress
    {
        max-width: 225px;
    }

    label[for="txtAddress"]
    {
        /*margin-left: -7px;*/
        max-width: 55px;
    }

    label[for="txtCity"]
    {
        /*margin-left: 183px;*/
        max-width: 29px;
    }

    input#txtCity
    {
        max-width: 182px;
    }

    label[for="txtPostalCode"]
    {
        /*margin-left: 8px;*/
        max-width: 111px;
    }

    input#txtPostalCode
    {
        max-width: 98px;
    }

    label[for="cboCountry"]
    {
        /*margin-left: 160px;*/
        max-width: 53px;
    }

    select#cboCountry
    {
        max-width: 163px;
    }

    label[for="cboProvince"]
    {
        /*margin-left: 26px;*/
        max-width: 53px;
    }

    select#cboProvince
    {
        max-width: 163px;
    }

    label[for="txtPhone"]
    {
        /*margin-left: 116px;*/
        max-width: 96px;
    }

    input#txtPhone, input#txtFax
    {
        max-width: 125px;
    }

    label[for="txtFax"]
    {
        /*margin-left: 38px;*/
        max-width: 81px;
    } /* #endregion 
    

    /* #region query_get.html */

    /*label[for="txtMaxQuantity"]
    {
        width: 55px;
    }

    input#txtMaxQuantity
    {
        width: 95px;
    } /* #endregion */
    

    /* query_post.php */

    tr.odd
    {
        background-color: #454545;
    }
/* #endregion */

/* #region -- Footer -- */
div#footer
{
    background: #353535;
    color: white;
    font-weight: 400;
    height: 20px;
    width: 100%;
    margin-top: -20px;
}
    
    div#footer-center
    {
        text-align: center;
        margin: 0 auto;
        width: 130px;
    }
/* #endregion */