/* app.css
    Purpose: Styling for BoardGameScorer

    Note: Any css fully tabbed in was changed/created by Drew

    Revision History:
        Drew Matheson, 2014.5.1: Created
*/

/* app css stylesheet   -- From angular-seed -- */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* gameList */

.games {
  list-style: none;
}

.games li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

a.thumb > img
{
    max-height: 98px;
    max-width: 98px;
}

/* gameDetail */

.game-images {
  background-color: white;
    max-width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

img.game {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
    max-width: 400px;
  display: none;
}

img.game:first-child {
  display: block;
}



/* -- From ASP.net MVC tutorial -- */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
