/* Created by Drew Matheson 
   PROG1800 Section 1
*/

@media all and (max-width:45.94em)
{
    html > body
    {
        /* Make the background color uniform in case of width overflow */
        background-color: #505050;
        background-image:-moz-linear-gradient(top, #505050, #505050);
        background-image:-webkit-linear-gradient(top, #505050, #505050);
    }

    body > div#header
    {
        height: auto; /* Makes the header size to its content */
    }

    div#header > div#headerLogo, div#headerLogo.ui-block-a
    {
        display: none; /* Hides the header logo */
    }
    
    div#header > div#headerTitle, div#headerTitle.ui-block-b
    {
        font-size: 1.1em;
        text-align: center;
        padding-top: 0;
        padding-left: 0;
        display: block;
        width: 100%;
    }
    
    div#header > div#headerLinks, div#headerLinks.ui-block-c
    {
        width:98%;
        text-align:center;
        clear:left;
        padding:0 1%;
        float:none;
        font-size: .96em;
    }
    
    body > div#wrap
    {
        padding: 0; /* Removes padding on page */
    }
    
    div#main > h1
    {
        font-size: 1.2em;
    }

    p
    {
        font-size: 105% !important;
        text-align: left !important; /* Wish I could avoid !important here*/
    }

    p.center
    {
        text-align: left;
    }

    body > div#footer
    {
        font-size: .90em;
        line-height: 1.3em;
    }

    img
    {
        height: auto;
    }
}

/* -- Universal Selector -- */

*
{
    margin:0;
}

/* #region -- Classes -- */

.center
{
    text-align:center;
}

.mcenter
{
    margin:0 auto;
}

.bold
{
    font-weight:700;
}

.topMargin
{
    margin-top: 30px;
}

.leftMargin
{
    margin-left: 30px;
}

.botMargin
{
    margin-bottom: 30px;
}

.topPad
{
    padding-top:5px;
}

.botPad
{
    padding-bottom:5px;
}

.block
{
    display:block;
}

.number
{
	text-align: right;
}

.hint 
{
    color: dimgray;
} 
            
.invalid 
{ 
    background-color:cornsilk; 
    color:dimgray; 
}

div.imageCenter
{
    text-align: center;
    margin-top: 10px;
}

tr.odd
{
    background-color: #454545;
}
/* #endregion */

/* #region -- Elements -- */

html
{
    height: 100%;
}

body
{
    background-color:Gray;
    background-image:-moz-linear-gradient(top, #505050, Gray 30%);
    background-image:-webkit-linear-gradient(top, #505050, Gray 30%);
    background-attachment:fixed;
    font-family:"Arial", sans-serif;
    color:White;
    height:100%;
}

a:link { color:#8FEEEE; text-decoration:none; }
a:visited { color:#DFB3E9; text-decoration:none; }
a:hover { color:#D7F6F6; text-decoration:underline; }
a:active { color:#E4E447; text-decoration:underline; }

h1
{
    background-color:DarkGrey;
    text-align:center;
    font-size:155%;
    color:#404040;
    padding: 1px 0;
    margin-bottom: 10px;
}

h2
{
    margin-top: 10px;
    background-color:DarkGrey;
    text-align:Center;
    font-size: 130%;
    color:#404040;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0;
}

p
{
    text-align: justify;
    font-size:110%;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

img
{
    max-width: 100%;
}

pre
{
    text-align:center;
    white-space:pre-wrap;
    font-family: "Courier New";
    font-size:100%;
    font-size: 15px;
    line-height: normal;
    padding-top:6px;
    padding-left:12px;
    padding-right:12px;
}

table, tr, th, td
{
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    border-color:DarkGrey;
}

caption 
{
    font-size: 110%;
    padding-bottom: 30px;
}

th
{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}

td
{
    padding: 3px 10px;
    font-size: 16px;
    text-align: left;
    font-family: arial;
}

form 
{
    margin: 30px auto 0 auto;
}

input, .ui-input-text input
{
    min-height: inherit;
}

input[maxlength='10'], input[maxlength='15']
{
    max-width: 132px;
}

input[maxlength='30'] 
{
    max-width: 366px; /* Fits 30 'M's*/
}

select
{
    max-width: 250px;
}

input[type='submit'], input[type='reset'], input[type='button']
{
    max-width: 120px;
    margin: 0 auto;
}

button
{
    max-width: 230px;
    margin: 0 auto;
}

b 
{
    font-weight: 900;
    color: #E4BC47;
}
/* #endregion */

/* #region -- Header -- */

div#header
{
    background-color:#353535;
    font-weight:700;
    height:69px;
    padding-top:3px; /* Adds a little extra space at the top */
    width:100%;
    position:relative; /* Places the header over wrap */
    border: initial; /* Remove jquery mobile struct file border */
    overflow: hidden; /* Fixes headerLogo pushing the top h1's text 2% left */
}

div#headerTitle a:link {color:White; text-decoration:none;}
div#headerTitle a:visited {color:White; text-decoration:none;}
div#headerTitle a:hover {color:#D7F6F6; text-decoration:underline;}
div#headerTitle a:active {color:#E4E447; text-decoration:underline;}

div#headerLinks a:visited { color:#8FEEEE; text-decoration:none; }

    div#headerLogo 
    {
        width: auto;
        clear:left;
        padding-left: 2%;
        float:left;
    }

    div#headerTitle
    {
        font-size: 1.2em;
        width:auto;
        padding-top: 1em;
        padding-left: .8%;
        display: inline-block;
        float:left;
    }

    div#headerLinks
    {
        font-size: 1em;
        width:auto;
        clear:right;
        padding:1.45em 2% 0 0; /* Makes links and title line up */
        float:right;
    }
/* #endregion */

/*#region -- Content -- */    
div#wrap
{
    background-color:#505050;
    min-height:100%;
    padding:0 2%;
    -ms-background-clip:content-box;
    background-clip:content-box;
    margin-top:-72px; /* Adjusts the wrap to accommodate the header */
}

    div#main
    {
        font-style:normal;
        padding-bottom:30px; /* Adds space between footer and main */
        padding-top:72px; /* Adds space for header */
    }

/* #endregion */

/* #region -- Footer -- */
div#footer
{
    background: #353535;
    font-weight: 400;
    height: 20px;
    width: 100%;
    margin-top: -20px;
    border: initial; /* Removes jquery mobile struct file border */
    line-height: 1.18em;
}
    
    div#footer-center
    {
        text-align: center;
        margin: 0 auto;
    }

    div#footer-right /* TODO: update and clean up */
    {
        padding-right:2.5%;
        float:right;
    }
/* #endregion */