/* Created by Drew Matheson 
   PROG1800 Section 1
*/

/* TODO: Merge style-old.css with style.css */

@media all and (max-width:45.94em)
{
    div#header
    {
        height: auto !important;
    }

    div#headerLogo.ui-block-a
    {
        display: none;
    }
    
    div#headerTitle.ui-block-b
    {
        font-size: 1.1em;
        text-align: center;
        padding-top: 0;
        padding-left: 0;
        height:auto;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    div#headerLinks.ui-block-c
    {
        width:100%;
        text-align:center;
        clear:left;
        padding:0 1%;
        float:none;
        font-size: .96em;
    }
    
    div#wrap
    {
        padding: 0 !important;
        height: auto !important;
    }
    
    h1
    {
        font-size: 1.2em !important;
    }

    p
    {
        font-size: 105% !important;
    }

    #footer
    {
        font-size: .90em;
    }
}

/* -- Universal Selector -- */

*
{
    margin:0;
}

/* #region -- Classes -- */

.center
{
    text-align:center;
}

.mcenter
{
    margin:0 auto;
}

.bold
{
    font-weight:700;
}

.topMargin
{
    margin-top: 30px;
}

.leftMargin
{
    margin-left: 30px;
}

.botMargin
{
    margin-bottom: 30px;
}

.topPad
{
    padding-top:5px;
}

.botPad
{
    padding-bottom:5px;
}

.block
{
    display:block;
}

.number
{
	text-align: right;
}

.hint 
{
        color: dimgray;
} 
            
.invalid 
{ 
    background-color:cornsilk; 
    color:dimgray; 
}
/* #endregion */

/* #region -- Elements -- */

html
{
    height: 100%;
}

body 
{
    background-color:Gray !important;
    background-image:-moz-linear-gradient(top, #505050, Gray 30%) !important;
    background-image:-webkit-linear-gradient(top, #505050, Gray 30%) !important;
    background-attachment:fixed !important;
    font-family:"Arial", sans-serif;
    color:White;
    height:100%;
}

a:link { color:#AFEEEE; text-decoration:none; }
a:visited { color:#A36BDB; text-decoration:none; }
a:hover { color:#D7F6F6; text-decoration:underline; }
a:active { color:#E4BC47; text-decoration:underline; }

h1
{
    background-color:DarkGrey;
    text-align:center;
    font-size:155%;
    color:#404040;
    padding: 1px 0;
    margin-bottom: 10px;
}

h2
{
    margin-top: 10px;
    background-color:DarkGrey;
    text-align:Center;
    font-size: 130%;
    color:#404040;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0;
}

p
{
    text-align: justify;
    font-size:110%;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

pre
{
    text-align:center;
    white-space:pre-wrap;
    font-family: "Courier New";
    font-size:100%;
    font-size: 15px;
    line-height: normal;
    padding-top:6px;
    padding-left:12px;
    padding-right:12px;
}

table, tr, th, td
{
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    border-color:DarkGrey;
}

caption 
{
    font-size: 110%;
    padding-bottom: 30px;
}

th
{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}

td
{
    padding: 3px 10px;
    font-size: 16px;
    text-align: left;
    font-family: arial;
}

input
{
    min-height: inherit !important;
}

b 
{
    font-weight: 900;
    color: #E4BC47;
}
/* #endregion */

/* -- Contains Header, Content, and Footer -- */
div.page
{
    height: 100%;
}

/* #region -- Header -- */

div#header
{
    background-color:#353535;
    font-weight:700;
    height:69px;
    padding-top:3px; /* Adds a little extra space at the top */
    width:100%;
    position:relative; /* Places the header over wrap */
    border: initial; /* Remove jquery mobile struct file border */
}

div#headerTitle a:link {color:White; text-decoration:none;}
div#headerTitle a:visited {color:White; text-decoration:none;}
div#headerTitle a:hover {color:#D7F6F6; text-decoration:underline;}
div#headerTitle a:active {color:#E4BC47; text-decoration:underline;}

div#headerLinks a:link { color:#AFEEEE; text-decoration:none; }
div#headerLinks a:visited { color:#AFEEEE; text-decoration:none; }
div#headerLinks a:hover { color:#D7F6F6; text-decoration:underline; }
div#headerLinks a:active { color:#E4BC47; text-decoration:underline; }

    div#headerLogo 
    {
        width: auto;
        text-align:left;
        clear:left;
        padding-left: 2%;
        float:left;
        display: block;
    }

    div#headerTitle
    {
        font-size: 1.2em;
        width:auto;
        text-align:justify;
        padding-top: 1em;
        padding-left: .8%;
        display: inline-block;
    }

    div#headerLinks
    {
        font-size: 1em;
        width:auto;
        text-align:left;
        clear:right;
        padding:1.45em 2% 0 0; /* Make links and title line up */
        float:right;
    }
/* #endregion */

/*#region -- Content -- */    
div#wrap
{
    background-color:#505050;
    min-height:100%;
    padding:0 2%;
    -ms-background-clip:content-box;
    background-clip:content-box;
    margin-top:-72px; /* Adjusts the wrap to accommodate the header */
}

    div#main
    {
        font-style:normal;
        padding-bottom:30px; /* Adds space between footer and main */
        padding-top:72px; /* Adds space for header */
    }
    
        div#summaryOutput
        {
            display: table;
            text-align: left;
            margin: 0 auto;
        }

        input[type='submit'], input[type='reset'], input[type='button']
        {
            max-width: 120px;
            margin: 0 auto;
        }

        button
        {
            max-width: 230px;
            margin: 0 auto;
        }

        /* index.html */

        div#buttons>input
        {
            width: 200px;
            height: 30px;
        }
    
        /* #region part_get.php */

        /*form#frmPart
        {
            max-width: 450px;
            margin: 0 auto;
        }

        label[for="cboVendor"]
        {
            margin-left: -39px;
            max-width: 48px;
        }

        select#cboVendor
        {
            max-width: 221px;
        }

        label[for="txtDescription"]
        {
            margin-left: -65px;
            max-width: 73px;
        }

        input#txtDescription
        {
            max-width: 215px;
        }

        label[for="txtOnHand"]
        {
            margin-left: -12px;
            max-width: 115px;
        }

        input#txtOnHand, input#txtOnOrder
        {
            max-width: 83px;
        }

        label[for="txtOnOrder"]
        {
            margin-left: 14px;
            max-width: 119px;
        }

        label[for="txtCost"]
        {
            margin-left: 69px;
            max-width: 33px;
        }

        input#txtCost, input#txtListPrice
        {
            max-width: 113px;
        }

        label[for="txtListPrice"]
        {
            margin-left: 12px;
            max-width: 61px;
        } */ /* #endregion */

        /* #region vendor_get.html */

        form#frmVendor
        {
            max-width: 500px;
            margin:0 auto;
        }

        label[for="txtName"]
        {
            max-width: 48px;
        }

        input#txtName, input#txtAddress
        {
            max-width: 366px; /* Fits 30 'M's*/
        }

        label[for="txtAddress"]
        {
            margin-left: -7px;
            max-width: 55px;
        }

        label[for="txtCity"]
        {
            max-width: 29px;
        }

        input#txtCity
        {
            max-width: 248px;
        }

        label[for="txtPostalCode"]
        {
            margin-left: 10px;
            max-width: 111px;
        }

        input#txtPostalCode
        {
            max-width: 132px;
        }

        label[for="cboCountry"]
        {
            margin-left: 28px;
            max-width: 53px;
        }

        select#cboCountry, select#cboProvince
        {
            max-width: 250px;
        }

        label[for="cboProvince"]
        {
            margin-left: 10px;
            max-width: 53px;
        }

        label[for="txtPhone"]
        {
            max-width: 96px;
        }

        input#txtPhone, input#txtFax
        {
            max-width: 125px;
        }

        label[for="txtFax"]
        {
            margin-left: 10px;
            max-width: 81px;
        } /* #endregion */
    

        /* #region query_get.html */

        form#frmQuery
        {
            max-width: 600px;
            margin: 0 auto;
        }

        label[for="txtMaxQuantity"]
        {
            max-width: 55px;
        }

        input#txtMaxQuantity
        {
            max-width: 200px;
        }
        
        form#frmQuery input[type="submit"], form#frmQuery input[type="reset"]
        {
            max-width: 200px;
        }/* #endregion */
    

        /* query_post.php */

        /*tr.odd
        {
            background-color: #454545;
        }*/
/* #endregion */

/* #region -- Footer -- */
div#footer
{
    background: #353535;
    color: white;
    font-weight: 400;
    height: 20px;
    width: 100%;
    margin-top: -20px;
    border: initial; /* Remove jquery mobile struct file border */
    line-height: 1.18em;
}
    
    div#footer-center
    {
        text-align: center;
        margin: 0 auto;
        width: auto;
    }
/* #endregion */