<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="robots" content="noindex, nofollow" />
		<meta charset="utf-8">
		<title>"Simple Games"</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="../Static/favicon.ico" />

    <!--CSS-->
		<link rel="stylesheet" href="../Static/CSS/style.css" type="text/css" />
        
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--JS-->

	</head>

	<body>
		<div id="header">
			<div id="HeadLoginSpan">
				<a href="">Home</a> |
				<a href="About.html">About</a> |
				<a href="School.html">School</a> |
				<a href="Projects.html">Projects</a>
			</div>
			
			<div id="HeadTitle">
			<a href="/">A website.</a>
			</div>
		</div>
		<div id="wrap">
			<div id="main">
				<h1><img src="../Static/Bastionfavicon.ico" alt="My Logo" /> This is the header of the page</h1>
				<pre>This is text     </pre>
			</div>
		</div>
		<div id="footer">
			<span id="footer-right">WIP By Drew Matheson</span>
		</div>
	</body>

</html>